@font-face {
  font-family: head;
  src: url(EA\ Sports\ Covers\ SC\ 1.5.ttf);
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: head;
}

body {
  width: 100%;
  background-color: black;
}

#cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(254, 240, 195);
  position: fixed;
  z-index: 199;
}
#blur {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(254, 240, 195);
  position: fixed;
  z-index: 30;
  filter: blur(90px);
}

#nav {
  height: 14vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: transparent;
  z-index: 999;
  
}

#navleft img {
  width: 7vw;
  margin-left: 3vw;
}

#navright {
  display: flex;
  align-items: center;
  gap: 3vw;
  margin-right: 3vw;
}

#navright a {
  font-size: 1.4vw;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

#main {
  width: 100%;
}

#page1 {
  width: 100%;
  height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   color: black;
}

#page1 #p1left {
  width: 50%;
  height: 100%;
  color: rgb(254, 240, 195);
  z-index: 150;

}

#page1 #p1right {
  width: 50%;
  height: 100%;
  color: rgb(254, 240, 195);
  z-index: 150;

}

#page1 #p1left video {
  height: 90vh;
  margin-left: 19vw;
  margin-top: 2vw;
  z-index: 150;
}
#page1 #p1right h2 {
  margin-top: 7vw;
  font-size: 3vw;
  font-weight: 300;
  width: 75%;
  white-space: nowrap;
  margin-bottom: 1vw;
  color: rgb(254, 240, 195);
  z-index: 150;
}
#page1 #p1right h4 {
  font-size: 1.5vw;
  color: rgb(254, 240, 195);
  line-height: 1.8vw;
  z-index: 150;
}

#page2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  z-index: 150;
}

#page2 #ileft img {
  height: 30vw;
  margin-left: 5vw;
  margin-top: 4vw;
  z-index: 150;
}

#ileft {
  display: flex;
  color: rgb(254, 240, 195);
  z-index: 150;
}
#ileft #conti {
  margin-top: 8vw;
  margin-left: 5vw;
  width: 30vw;
  z-index: 150;
}

#ileft #conti h1 {
  font-size: 3vw;
  text-decoration: underline;
  margin-bottom: 1vw;
  z-index: 150;
}

#ileft #conti p {
  font-size: 1.4vw;
  z-index: 150;
}

#page2 #iright img {
  height: 30vw;
  margin-left: 5vw;
  margin-top: 15vw;
  position: relative;
  z-index: 150;
}

#iright {
  display: flex;
  color: rgb(254, 240, 195);
  z-index: 150;
}
#iright #conti {
  margin-top: 28vw;
  margin-left: -15vw;
  margin-right: 5vw;
  width: 30vw;
  z-index: 150;
}

#iright #conti h1 {
  font-size: 3vw;
  text-decoration: underline;
  margin-bottom: 1vw;
  white-space: nowrap;
  z-index: 150;
}

#iright #conti p {
  font-size: 1.2vw;
  z-index: 150;
}

#page3 {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

#page3 #ileft img {
  height: 30vw;
  margin-left: 5vw;
  margin-top: 4vw;
  z-index: 150;
}

#page3 #iright img {
  height: 30vw;
  margin-left: 5vw;
  margin-top: 13vw;
  margin-bottom: 1vw;
  z-index: 150;
}

#page4 {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

#page4 #ileft img {
  height: 30vw;
  margin-left: 5vw;
  margin-top: 4vw;
  z-index: 150;
}

#page4 #iright img {
  height: 30vw;
  margin-left: 5vw;
  margin-top: 13vw;
  margin-bottom: 1vw;
  z-index: 150;
}

#page5 {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

#page5 #ileft img {
  height: 30vw;
  margin-left: 5vw;
  margin-top: 4vw;
  z-index: 150;
}
