@font-face {
  font-family: head;
  src: url(EA\ Sports\ Covers\ SC\ 1.5.ttf);
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: head;
}

body {
  width: 100%;
  background-color: black;
}

#cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(254, 240, 195);
  position: fixed;
  z-index: 199;
}
#blur {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(254, 240, 195);
  position: fixed;
  z-index: 30;
  filter: blur(90px);
}

#nav {
  height: 14vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: transparent;
  z-index: 999;
  
}

#navleft img {
  width: 7vw;
  margin-left: 3vw;
}

#navright {
  display: flex;
  align-items: center;
  gap: 3vw;
  margin-right: 3vw;
}

#navright a {
  font-size: 1.4vw;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

#main {
  width: 100%;
}

#surveys {
  width: 100%;
  height: 100vh;
  background-color: rgb(243, 149, 149);
  z-index: 150;
}

#page3 #ig {
  height: 30vh;
  border-radius: 50%;
  z-index: 150;
}

/* #page3 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}  */
#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#page3 h1 {
  color: white;
  font-size: 1.3vw;
  width: 60%;
  margin-left: 2vw;
  z-index: 150;
}

#page3 #pac {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 150;
}

#page3 .grd {
  position: absolute;
  height: 60px;
  z-index: 150;
}
#page3 #colon1 {
  left: 10%;
  top: 15%;
  z-index: 150;
}
#page3 #colon2 {
  bottom: 30%;
  right: 10%;
  z-index: 150;
}

